<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Distributed_Denial_of_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Distributed_Denial_of_Service.Properties.Settings>
            <setting name="sTargetIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="iPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="iPackageSize" serializeAs="String">
                <value>20840</value>
            </setting>
            <setting name="iThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bUDP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bRunning" serializeAs="String">
                <value>False</value>
            </setting>
        </Distributed_Denial_of_Service.Properties.Settings>
    </userSettings>
</configuration>